.navbar{
    background-color: rgb(149, 149, 149) !important;
    color: white !important;
}
.section{
    background-color: rgb(255, 153, 0);
}

#imgss{
    margin: 40px;
    border: 5px solid rgb(255, 255, 255);
}
#h1paso{
    margin-top: 50px;
}

.style-f{
    color: white;
    background-color: black;
}